@font-face {
	font-family: Roboto;
	src: url("http://fonts.googleapis.com/css?family=Roboto");
}

html {
	height: 100%;
	overflow: hidden;
}

body {
	background-color: #ffe7c2;
	width: 100%;
	height: 100%;
}

#outline {
	margin: auto;
	height: 300px;
	width: 600px;
	background: white;
	opacity: 1;
	border-radius: 25px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
    flex-flow: column wrap;
}

#login_top {
	display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.input {
	border-radius: 15px;
	height: 30px;
	outline-width: 0px;
	background: #EEEEEE;
    border: 0;
    padding: 3px 10px;
    width: 250px;
    padding-left: 40px;
}

#span_log {

}

#login_form {
	margin-top: -15px;
}

input[type="text"], input[type="password"] {
	background-repeat: no-repeat;
	background-size: 20px;
}

#form_buttons {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-basis: 100%;
	user-select: none;
}

#form_switch, #input_submit {
	width: 50%;
    height: 35px;
    border: none;
	background: cornflowerblue;
}

#form_switch:hover, #input_submit:hover {
	background: #84b5ff;
	transition: background 0.5s;
}

#form_switch:active, #input_submit:active {
	background: #b4f5fd;
	transition: background 0s;
}

#form_switch {
    border-radius: 0 0 0 25px;
    border-right: 1px solid white;
}

#input_submit {
    border-radius: 0 0 25px;
}

#input_reset {
	margin-left: 5px;
	width: 80px;
	height: 20px;
}

#map {
	height: 400px;
	width: 800px;
	border-radius: 10px;
}

#wrapper {
	width: 100%;
	height: 100%;
	display: flex;
}

#menu {
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
}

.menu_panel {
	background: white;
	user-select: none;
	cursor: pointer;
	background: cornflowerblue;
	border: none;
    padding: 5px 15px;
}

.menu_panel:hover {
	background: #84b5ff;
	transition: background 0.5s;
}

.menu_panel:active {
	background: #b4f5fd;
	transition: background 0s;
}

#back {
	border-radius: 0 0 0 25px;
    padding-left: 20px;
    border-right: 1px solid #ffe7c2;
}

#input_action {
	display: none;
}

.delete_button {
	color: red;
	cursor: pointer;
}

img {
	padding-left: 5px;
	transform: translateY(5px);
}

table {
	width: 400px;
	border-collapse: collapse;
}

caption {
	font-family: Arial;
	background: rgba(0, 0, 0, 0.25);
	font-size: 20px;
	font-weight: bold;
    margin-bottom: 5px;
}

td {
	border-bottom: 1px solid black;
}

td.button {
	width: 10%;
	text-align: right;
}

input[type="text"] {
	background: navajowhite;
    border: none;
    height: 20px;
	padding-left: 10px;
}

#input_id {
    border-radius: 10px 0 0 10px;
	border-right: 1px solid white;
}

#input_code {
    border-radius: 0 10px 10px 0;
}

input[type="submit"] {
	width: 20px;
    margin-left: 5px;
	background-image: url(../img/settings_arrow.svg);
    background-size: 30px;
    background-position: -5px -4px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

td.active {
	width: 5%;
    padding-bottom: 5px;
}

td.active > img {
	height: 20px;
}

td.button > img {
	margin-top: -5px;
}