@font-face {
	font-family: Avenir-Roman;
	src: url("../!Logo/Avenir-Roman.otf");
}

@font-face {
	font-family: Avenir;
	src: url("../!Logo/Avenir-Roman.otf");
}

html {
	height: 100%;
	overflow: hidden;
}

body {
	background-color: #ffe7c2;
	margin: -5px;
	width: 100%;
	height: 100%;
}

#menuOutline {
	margin: auto;
	height: 300px;
	width: 600px;
	background: white;
	opacity: 1;
	border-radius: 25px;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	flex-flow: row wrap;
}

#login_top {
	display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#logo_wrapper {
    flex-basis: 25%;
    max-height: 25%;
}

span {
	padding: 0px 5px;
	transition: background 1s;
	user-select: none;
}

span:hover {
	background: rgb(50, 190, 50);
}

#span_log {

}

#login_form {
	margin-top: -15px;
}

input[type="text"], input[type="password"] {
	border-radius: 15px;
	height: 30px;
	outline-width: 0px;
	background: #EEEEEE;
    border: 0;
    padding: 3px 10px;
    width: 250px;
    padding-left: 40px;
	/**/
	display: block;
	background-repeat: no-repeat;
	background-size: 20px;
}

#input_username, #input_password {
	margin-bottom: 5px;
}

#input_username {
	background-image: url("../img/form_user.svg");
    background-position: 9px 8px;
}

#input_password {
	background-image: url("../img/form_pass.svg");
    background-position: 9px 7px;
}

#input_mail {
	visibility: hidden;
	background-image: url("../img/form_mail.svg");
    background-position: 9px 8px;
}

#form_buttons {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-basis: 100%;
	user-select: none;
}

#form_switch, #input_submit {
	width: 50%;
    height: 35px;
    border: none;
	background: cornflowerblue;
}

#form_switch:hover, #input_submit:hover {
	background: #84b5ff;
	transition: background 0.5s;
}

#form_switch:active, #input_submit:active {
	background: #b4f5fd;
	transition: background 0s;
}

#form_switch {
    border-radius: 0 0 0 25px;
    border-right: 1px solid white;
}

#input_submit {
    border-radius: 0 0 25px;
}

#input_reset {
	margin-left: 5px;
	width: 80px;
	height: 20px;
}

#map {
	height: 400px;
	width: 800px;
	border-radius: 10px;
}

#wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#menu {
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
}

.menu_panel {
	background: white;
	user-select: none;
	cursor: pointer;
	background: cornflowerblue;
	border: none;
    padding: 5px 15px;
}

.menu_panel:hover {
	background: #84b5ff;
	transition: background 0.5s;
}

.menu_panel:active {
	background: #b4f5fd;
	transition: background 0s;
}

#settings {
	border-radius: 0 0 0 25px;
    padding-left: 20px;
    border-right: 1px solid #ffe7c2;
}